.image-slider-top{
    padding-top:5px;
    
.each-slide-child{
             display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
//   height: 250px;
        }
}
