body{
  width: 980px;
  /* height: 100vh; */
}
.container{
  max-width: 600px;
  min-height: 100vh;
  background-color: rgb(240, 234, 234);
}
.title{
  background-color: #ccc;
  padding: 15px;
  border-bottom: 1.2px dotted black;
  box-shadow: 0px 1px 1px 0px black;
  display: flex;
  justify-content: center;
}